<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passing Data</title>
</head>
<body>
    <% if(locals.numberOfLetters) { %>
        <h1>There are <%=numberOfLetters %> in your name.</h1>
    <% } else { %>
        <h1>Write your name below</h1>
    <% } %>
    <form action="/submit" method="post">
        <input type="text" name="firstName" placeholder="Enter your First Name">
        <input type="text" name="lastName" placeholder="Enter your last name">
        <input type="submit" value="submit">
    </form>
</body>
</html>